{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Liste boky</h6>
            <a href="{{ path('admin_user_manage', {'id': 'x'}) }}">
                <i class="fa fa-plus m-1"></i>Nouveau utilisateur
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de création</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de création</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.createdAt|date('d-m-Y') }}</td>
                            <td>
                                <a href="{{ path('admin_user_manage', {'id': user.id}) }}" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Modifier</a>
                                <a href="{{ path('admin_user_delete', {'id': user.id}) }}" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}