{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Liste des images pour le slide</h6>
            <a href="{{ path('admin_slide_manage', {'id': 'x'}) }}"><i class="fa fa-plus m-1"></i>Créer un nouveau slide</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actif</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Actif</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for slide in slides %}
                        <tr>
                            <td>{{ slide.alt }}</td>
                            <td>
                                <a href="{{ path('admin_slide_enable', {'id': slide.id}) }}">{{ slide.enable ? 'OUI' : 'NON' }}</a>
                            </td>
                            <td>
                                <img width="80" height="80" src="{{ asset('images/'~slide.image) }}" alt="{{ slide.alt }}">
                            </td>
                            <td>
                                <a href="{{ path('admin_slide_manage', {'id': slide.id}) }}" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Modifier</a>
                                <a href="{{ path('admin_slide_remove', {'id': slide.id}) }}" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}