{% extends 'front/base_front.html.twig' %}

{% block body %}
    <main id="main">
        <!-- ======= Hero Slider Section ======= -->
        <section id="hero-slider" class="hero-slider">
            <div class="container-md" data-aos="fade-in">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper sliderFeaturedPosts">
                            <div class="swiper-wrapper">
                                {% for slide in slides %}
                                    <div class="swiper-slide">
                                        <a href="#" class="img-bg d-flex align-items-end"
                                           style="background-image: url({{ asset('images/'~slide.image) }});">
                                            <div class="img-bg-inner">
                                                <h2>{{ slide.alt ? slide.alt : 'Fiainana be dia be' }}</h2>
                                                <p>{{ slide.description }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->

        <!-- ======= Post Grid Section ======= -->
        <section id="posts" class="posts">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    {% if lastPost %}
                        <div class="col-lg-4">
                            <div class="post-entry-1 lg">
                                <a href="{{ path('post_view', {'id': lastPost.id}) }}"><img src="{{ asset('build/images/img.png') }}" alt=""
                                                                class="img-fluid"></a>
                                <div class="post-meta">
                                    <span class="mx-1">&bullet;</span>
                                    <span>{{ lastPost.createdAt|date('d-m-Y') }}</span>
                                </div>
                                <h2><a href="{{ path('post_view', {'id': lastPost.id}) }}">{{ lastPost.title }}</a></h2>
                                <p class="mb-4 d-block">
                                    {{ lastPost.description }}
                                </p>
                                <div class="d-flex align-items-center author">
                                    <div class="photo">
                                        <img width="50" height="50" src="{{ asset('build/images/img.png') }}" alt=""
                                                            class="img-fluid"></div>
                                    <div class="name">
                                        <h3 class="m-0 p-0">Cameron Williamson</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-lg-8">
                        <div class="row g-5">
                            <div class="col-lg-4 border-start custom-border">
                                {% if lastFivePosts|length > 0 %}
                                    {% for post in lastFivePosts|slice(0,5)  %}
                                        <div class="post-entry-1">
                                            <a href="{{ path('post_view', {'id': post.id}) }}">
                                                <img src="{{ asset('images/'~post.couverture) }}" alt=""  class="img-fluid">
                                            </a>
                                            <div class="post-meta">
                                                <span class="date">Fiainana</span>
                                                <span class="mx-1">&bullet;</span>
                                                <span>{{ post.createdAt|date('d-m-Y') }}</span>
                                            </div>
                                            <h2>
                                                <a href="{{ path('post_view', {'id': post.id}) }}">{{ post.title }}</a>
                                            </h2>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-lg-4 border-start custom-border">
                                {% if lastFivePosts|length > 0 %}
                                    {% for post in lastFivePosts|slice(5)  %}
                                        <div class="post-entry-1">
                                            <a href="{{ path('post_view', {'id': post.id}) }}">
                                                <img src="{{ asset('images/'~post.couverture) }}" alt=""  class="img-fluid">
                                            </a>
                                            <div class="post-meta">
                                                <span class="date">Fiainana</span>
                                                <span class="mx-1">&bullet;</span>
                                                <span>{{ post.createdAt|date('d-m-Y') }}</span>
                                            </div>
                                            <h2>
                                                <a href="{{ path('post_view', {'id': post.id}) }}">{{ post.title }}</a>
                                            </h2>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!-- Trending Section -->
                            <div class="col-lg-4">

                                <div class="trending">
                                    <h3>Tosika</h3>
                                    <ul class="trending-post">
                                        <li>
                                            <a href="single-post.html">
                                                <span class="number">1</span>
                                                <h3>The Best Homemade Masks for Face (keep the Pimples Away)</h3>
                                                <span class="author">Jane Cooper</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-post.html">
                                                <span class="number">2</span>
                                                <h3>17 Pictures of Medium Length Hair in Layers That Will Inspire Your
                                                    New Haircut</h3>
                                                <span class="author">Wade Warren</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-post.html">
                                                <span class="number">3</span>
                                                <h3>13 Amazing Poems from Shel Silverstein with Valuable Life
                                                    Lessons</h3>
                                                <span class="author">Esther Howard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-post.html">
                                                <span class="number">4</span>
                                                <h3>9 Half-up/half-down Hairstyles for Long and Medium Hair</h3>
                                                <span class="author">Cameron Williamson</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-post.html">
                                                <span class="number">5</span>
                                                <h3>Life Insurance And Pregnancy: A Working Mom’s Guide</h3>
                                                <span class="author">Jenny Wilson</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div> <!-- End Trending Section -->
                        </div>
                    </div>

                </div> <!-- End .row -->
            </div>
        </section> <!-- End Post Grid Section -->
        <!-- ======= Culture Category Section ======= -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Fiainana</h2>
                    <div><a href="{{ path('post_all_posts', {'page': 1}) }}" class="more">Fiainana</a></div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        {% for post in lastPosts %}
                            <div class="d-lg-flex post-entry-2">
                                <a href="{{ path('post_view', {'id': post.id}) }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                                    <img src="{{ asset('images/'~post.couverture) }}" width="800" height="400" alt="" class="img-fluid img-last-post">
                                </a>
                                <div>
                                    <div class="post-meta">
                                        <span class="date">Fiainana</span>
                                        <span class="mx-1">&bullet;</span>
                                        <span>{{ post.createdAt|date('d-m-Y') }}</span>
                                    </div>
                                    <h3>
                                        <a href="{{ path('post_view', {'id': post.id}) }}">
                                            {{ post.title }}
                                        </a>
                                    </h3>
                                    <p>
                                        {{ post.description|slice(0, 300) }} ...
                                    </p>
                                    <div class="d-flex align-items-center author">
                                        <div class="photo"><img width="50" height="50" src="{{ asset('build/images/img_1.png') }}" alt="" class="img-fluid">
                                        </div>
                                        <div class="name">
                                            <h3 class="m-0 p-0">Fiainana</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3">
                        <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th '22</span></div>
                            <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay Focused During
                                    Video Calls?</a></h2>
                            <span class="author mb-3 d-block">Jenny Wilson</span>
                        </div>

                        <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th '22</span></div>
                            <h2 class="mb-2"><a href="single-post.html">17 Pictures of Medium Length Hair in Layers That
                                    Will Inspire Your New Haircut</a></h2>
                            <span class="author mb-3 d-block">Jenny Wilson</span>
                        </div>

                        <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th '22</span></div>
                            <h2 class="mb-2"><a href="single-post.html">9 Half-up/half-down Hairstyles for Long and
                                    Medium Hair</a></h2>
                            <span class="author mb-3 d-block">Jenny Wilson</span>
                        </div>

                        <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th '22</span></div>
                            <h2 class="mb-2"><a href="single-post.html">Life Insurance And Pregnancy: A Working Mom’s
                                    Guide</a></h2>
                            <span class="author mb-3 d-block">Jenny Wilson</span>
                        </div>

                        <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th '22</span></div>
                            <h2 class="mb-2"><a href="single-post.html">The Best Homemade Masks for Face (keep the
                                    Pimples Away)</a></h2>
                            <span class="author mb-3 d-block">Jenny Wilson</span>
                        </div>

                        <div class="post-entry-1 border-bottom">
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th '22</span></div>
                            <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should
                                    Know</a></h2>
                            <span class="author mb-3 d-block">Jenny Wilson</span>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Culture Category Section -->
    </main><!-- End #main -->
{% endblock %}
